<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="noindex, follow"> 
  <title>Web Proxy By ZeroHoster.com</title>
  <link rel="stylesheet" href="static/base.css">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3882045-17']);
  _gaq.push(['_setDomainName', 'zerohoster.appspot.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</head>

<body>

<header>
  <h1>Web Proxy</h1>
</header>

<section>

<div id="form_wrapper">
  <form action="" method="GET" accept-charset="utf-8">
  <div id="input_wrapper">
    <span id="http_prefix">http://</span>
    <input type="text" name="url" placeholder="type url here..." id="url_entry" autofocus><input id="go_button" type="submit" value="Go">
  </div>
  </form>
</div>

<div id="warning">
Fair use: All content belongs to the original copyright holders, respectively.
</div>

</section>

<footer class="secure">
  {% if secure_url %}
  <a href="{{secure_url}}">
  {% endif %}
  <img src="/static/{% if secure_url %}no{% endif %}lock.png" width="16" height="16">
  {% if secure_url %}not secure</a>
  {% else %}secure{% endif %}
</footer>

</body>
</html>
